@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&family=Ubuntu&display=swap'); 

body{
  font-family:'Montserrat', sans-serif;
  text-align: center;
} 

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p{
  color: #8f8f8f;
}

/* container */

.container-fluid{
  padding: 5% 12%;
}


/* COLOR SECTION */

.colored-section{
  background-color: #ff4C68;
  color: white;
}

.white-section{
  background-color: #fff;
}


/* TITLE*/

.big-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-title{
  font-size: 3rem;
  line-height: 1.5;
}



/* Navigation Bar  */

.navbar{
  padding: 0 0 4.5rem;
} 

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.5rem;
  font-weight: 400;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}



/* Title section  */
#title .container-fluid{
  padding: 2% 12% 5%;
  text-align: left;
}



/* Presentation section  */

.download-button{
  margin: 5% 3% 5% 0;
}

.title-img{
  width: 60%;
  max-width: 300px;
  transform: rotate(20deg);
  position: absolute;
  right: 30%;
}


/* Features section  */

#features{
  position: relative;
}

.feature-title{
  font-size: 1.8rem;
  font-weight: 900;
}

#features .feature-icon{
  color: #EF8172;
  margin-bottom: 4%;
}

#features .feature-icon:hover{
  color: #ff4C68;
}






/* Testimonials section  */


#testimonials{
  background-color: #EF8172;
  position: relative;
  z-index: 1;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img{
  border-radius: 100%;
  width: 12%;
  min-width: 100px;
  margin: 20px;
}

/* Press section  */

#press{
  background-color: #EF8172;
  padding-bottom: 7%;
}

.press-logo{
  width: 15%;
  min-width: 150px;
  margin: 0 20px;
}



/* Pricing Section  */

.header-card{
  font-size: 1.8rem;
  font-weight: 900;
}

.pricing-card{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col{
  padding: 3% 2%;
}


/* CTA Section  */

/* Footer section  */

#footer .social-icon{
  margin: 0 2%;
  font-size: 2rem;
}



/* MEDIA QUERIES  */

@media (max-width: 1024px){
  .title-img{
    position: static;
    transform: rotate(0deg);
    max-width: 200px;
  }

  #title .container-fluid{
    text-align: center;
  }
}


@media (max-width: 768px){
  .big-title{
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  }

  .navbar{
    padding: 0;
    margin-bottom: 20px;
  }

  .navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
  }

  .section-title{
    font-size: 2rem;
    line-height: 1;
  }

  .feature-title{
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  .testimonial-text{
    font-size: 2rem;
    line-height: 1;
  }

  .pricing-card{
    font-size: 2rem;
    line-height: 1;
  }
}