@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&family=Ubuntu&display=swap'); 

body{
  font-family:'Montserrat', sans-serif;
} 

#title{
  background-color: #ff4C68;
}

.container-fluid{
  padding: 3% 15%;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar  */

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: 400;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}




/* Presentation section  */

.download-button{
  margin: 5% 3% 5% 0;
}

.title-img{
  width: 60%;
  transform: rotate(20deg);
}





/* Features section  */

#features .feature-icon{
  color: #EF8172;
  margin-bottom: 4%;
}

#features .feature-icon:hover{
  color: #ff4C68;
}

#features h3{
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1.5rem;
  font-weight: 900;
  
}

#features p{
  color: #8F8F8F;
}

#features{
  padding: 7% 10%;
}




/* Testimonials section  */


#testimonials{
  /* padding: 7% 10%; */
  text-align: center;
  background-color: #EF8172;
  color: #fff;
}

.testimonial-img{
  border-radius: 100%;
  width: 12%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 10%;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  width: 20%;
  height: 20%;
}

/* Press section  */

#press{
  background-color: #EF8172;
  text-align: center;
  padding-bottom: 7%;
}

.press-logo{
  width: 15%;
  margin: 0 20px;
}
